body {
    overflow-y: hidden;
}

#root {
    height: 100vh;
    position: relative;
}

#root > .wrapper, #map-container {
    position: relative;
    height: 100%;
    width: 100%;
}

#map-container {
    height: 100%;
    z-index: 0;
}

#map-container.with-sidebar > .leaflet-container {
    width: 61.8% !important;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 2;
    width: 38.2%;
    padding-top: 80px;
    padding-left: 1.5em;
    padding-right: 1em;
}

#root > .wrapper > .container {
    height: 1%;
    position: absolute;
    display: inline-block;
    top: 8px;
    opacity: 100%;
    z-index: 1;
    right: 0;
    left: 50px;
    width: 100vw;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    margin: 0;
}

.markercluster-map {
    height: 100vh;
}

.encoiner-community-icon {
    text-align: center;
    background-clip: padding-box;
    border-radius: 20px;
    width: 30px !important;
    height: 30px !important;
    border: 2px solid rgba(110,204,57,0.6);
    background-color: rgba(81,204,0,1);
    box-shadow: 0px 0px 3px rgba(20,20,20,0.45);
    text-shadow: 2px -1px 3px rgba(12,60,2,1), 0px 2px 2px rgba(20,155,1,1 );
}

.encoiner-community-icon > i {
    top: -2px;
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    padding-bottom: 6px;
    font-style: normal;
}
